<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-content">
        <% if @orders.present? %>
        <div class="form-group">
          <table class="table table-hover table-stripped toggle-arrow-tiny" id="orders-table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th class="hidden-xs hidden-sm">Email</th>
              <th class="hidden-xs hidden-sm">Telephone</th>
              <th class="hidden-xs">Amount</th>
              <th class="hidden-xs hidden-sm">Created</th>
              <th class="hidden-xs hidden-sm">Delay</th>
              <th class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
              <% @orders.each do |order|  %>  
                <tr data-link= "<%= manager_order_path(order) %>" class="selectable-row">
                  <td><%= order.id %></td>
                  <td><%= order.user_information.name.truncate 20 %>
                  <td class="hidden-xs hidden-sm"><%= order.user.email.truncate 20 %></td>
                  <td class="hidden-xs hidden-sm"><%= order.user_information.telephone %></td>
                  <td class="hidden-xs" ><%= number_to_currency order.amount %></td>
                  <td class="hidden-xs hidden-sm"><%= order.created_at.strftime("%d.%m.%Y") %></td>
                  <td class="hidden-xs hidden-sm"><%= time_ago_in_words(Time.now - (Time.now - order.created_at.to_time).seconds) %></td>
                  <td class="unselectable">
                    <%= link_to manager_order_path(order) do%>
                      <% case order.status %>
                      <% when "pending" %>
                        <%= content_tag :span, order.status, class: "label label-success col-xs-12 col-sm-12" %>
                      <% when "accepted" %>
                        <%= content_tag :span, order.status, class: "label label-warning col-xs-12 col-sm-12" %>
                      <% when "declined" %>
                        <%= content_tag :span, order.status, class: "label label-danger col-xs-12 col-sm-12" %>
                      <% when "completed" %>
                        <%= content_tag :span, order.status, class: "label label-primary col-xs-12 col-sm-12" %>
                      <% end  %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
          <div class="text-center">
            <%= paginate @orders %>
          </div>
        <% else %>
          <div class="text-center">
            <h2>No information</h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
