<%= form_for [:manager, @order], method: "put" do |f| %>
<div class="ibox-title">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center form-group">
      <stong>Status:</strong>
        <%= select_tag "order[status]", options_for_select(Order.statuses.keys, @order.status), class:'form-control m-b'%>
    </div>
  </div>
</div>

  <div class="ibox-content">
    <div class="row">
      <div class="col-md-6">
        <% @order.line_items.each do |line_item| %>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= image_tag first_image(line_item.product), class:"img-responsive" %>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <div class="row">
                <strong><%= line_item.product.title %></strong>
              </div>
              <div class="row">
                Qnt: <%= line_item.quantity %>
              </div>
              <div class="row">
                <%= line_item.size.values.join(' & ') %>
              </div>
              <div class="row">
                <%= number_to_currency line_item.actual_price %>
              </div>
            </div>
          </div>
          <br>
        <% end  %>
      </div>

      <div class="col-md-6">
        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Order #</strong><%= @order.id  %>
          </div>
        </div>
        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Created:</strong> <%= @order.created_at.strftime("%a %b %d %Y - %H:%M:%S") %>
          </div>
        </div>

        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Name: </strong><%=@order.user_information.name%>
          </div>
        </div>

        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Email: </strong><%=@order.user.email%>
          </div>
        </div>

        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Telephone: </strong><%= @order.user_information.telephone %>
          </div>
        </div>

        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Amount: </strong><%=number_to_currency @order.amount%>
          </div>
        </div>

        <div class="chat-user">
          <div class="chat-user-name">
            <strong>Comment: </strong><%=@order.comment %>
          </div>
        </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <%= f.submit "Send email", class:"btn btn-warning", name: "send_email" %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <%= f.submit "Just submit", class:"btn btn-primary", name: "send_email" %>
      </div>
    </div>
    <br>
  </div>


<% end %>
