<%= link_to manager_product_path(product) do %>
  <div class="oriented">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation">
            <%= image_tag first_image(product), class:'img-responsive' %>
          </div>

          <div class="product-desc">
            <% if product.discount and product.discount.actual %>
              <span class="product-discount-price"> <%= product.price %> </span>
            <% else %>
              <span class="product-price"> <%= product.price %> </span>
            <% end %>
            <small class="text-muted"><%=t 'activerecord.attributes.product.priority' %>: <%= t "activerecord.attributes.product.priorities.#{product.priority}" %></small>

            <span class="product-name">
              <%= product.title.truncate 20 %>
            </span>

            <div class="m-t text-righ">
              <% unless product.archive %>
                <%= link_to t('manager.layout.archive'), archive_manager_product_path(product), class: "btn btn-xs btn-outline btn-danger"%>
                <% if product.visible %>
                  <%= link_to t('manager.layout.hide'), change_appearance_manager_product_path(product), class: "btn btn-xs btn-outline btn-warning pull-right" %>
                <% else %>
                  <%= link_to t('manager.layout.release'), change_appearance_manager_product_path(product), class: "btn btn-xs btn-outline btn-primary pull-right" %>
                <% end %>
              <% else %>
                <%= link_to t('manager.layout.delete'), manager_product_path(product), class: "btn btn-xs btn-outline btn-danger", method: "delete" %>
                <%= link_to t('manager.layout.restore'), archive_manager_product_path(product), class: "btn btn-xs btn-outline btn-warning pull-right" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
