<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox product-detail">
        <div class="ibox-content">
          <div class="row">
            <div class="oriented">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <%= image_tag default_or_first_image(product), class:"img-responsive manager-product-image" %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-9">
                  <% product.images.each do |image| %>
                    <%= image_tag image, size: 64, class:"manager-product-image" %>
                  <% end %>
                </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h2 class="font-bold m-b-xs"><%= product.title %></h2>

                <div class="m-t-md">
                  <h2 class="product-main-price">
                    <% if product.discount and product.discount.actual  %>
                      <%= number_to_currency product.discount_price %>
                      <span class="price-old"><%= number_to_currency product.price %> </span>
                    <% else %>
                      <%= number_to_currency product.discount_price %>
                    <% end %>
                  </h2>
                </div>

                <hr>

                <h4><%= t('activerecord.attributes.product.description') %></h4>

                <div class="small text-muted">
                  <%= product.description %>
                </div>

                <hr>

                <dl class="small m-t-md">
                  <dt><%= t('activerecord.attributes.product.category') %></dt>
                  <dd>
                    <%= product.category.title %>
                  </dd>
                  <br>
                  <dt><%= t('activerecord.attributes.product.size') %></dt>
                  <dd>
                    <%= "#{t('activerecord.attributes.product.sizes.bra').capitalize}: #{product.sizes["bra"].to_a.join(" ")}" if product.sizes["bra"].present? %><br>
                    <%= "#{t('activerecord.attributes.product.sizes.standard').capitalize}: #{product.sizes["standard"].to_a.join(" ")}" if product.sizes["standard"].present? %>
                  </dd>
                  <br>
                  <dt><%= t('activerecord.attributes.product.priority') %></dt>
                  <dd><%= t("activerecord.attributes.product.priorities.#{product.priority}") %></dd>
                  <br>
                  <dt><%= t('activerecord.attributes.product.discount') %></dt>
                  <dd>
                    <%= product.discount ? product.discount.title : t('manager.layout.none') %><br>
                    <%= product.discount and product.discount.actual ? t('manager.layout.currently_actual') : t('manager.layout.was_actual') %>
                    <%= " #{t('manager.layout.from')} #{product.discount.start_at.strftime("%d-%m-%Y %H:%M")}" if product.discount and product.discount.start_at %>
                    <%= " #{t('manager.layout.till')}  #{product.discount.end_at.strftime("%d-%m-%Y  %H:%M")}" if product.discount and product.discount.end_at %>
                  </dd>
                </dl>

                <div>
                  <hr>
                  <div class="btn-group">
                    <% unless product.archive %>
                      <% if product.visible %>
                        <%= link_to t('manager.layout.hide'), change_appearance_manager_product_path(product), class: "btn btn-warning btn-sm"%>
                      <% else  %>
                        <%= link_to t('manager.layout.release'), change_appearance_manager_product_path(product), class: "btn btn-primary btn-sm"%>
                      <% end  %>
                    <% end  %>
                  </div>
                  <div class="btn-group">
                    <%= link_to t('manager.layout.edit'), edit_manager_product_path(product), class: "btn btn-primary btn-sm"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "image_modal" %>
  </div>
</div>
