<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2> <%= current_page_name %> </h2>
    <ol class="breadcrumb">
      <li><%= current_page_name %></li>
      <li><b>List</b></li>
    </ol>
    <div class="dropdown-button">
      <%= render "dropdown_button" %>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>


<div class="products-list">
  <%= render "list_relevant" %>
</div>

<%= link_to "Add", new_manager_product_path, class: "btn btn-large  btn-warning fixed-right" %>
