<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox product-detail">
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2 class="font-bold m-b-xs"> <%= @discount.title %> </h2>
              <div class="m-t-md">
                <h2 class="product-main-price">
                  <%= number_to_percentage @discount.value, precision: 0  %>
                </h2>
              </div>

              <hr>
              <h4><%= t 'manager.layout.schedule' %></h4>

              <div class="small text-muted">
                <%= t('activerecord.attributes.discount.start_at') %>:
                <%= @discount.start_at ? @discount.start_at.strftime("%d.%m.%Y") : t('manager.layout.always')%>
                <%= t 'activerecord.attributes.discount.end_at' %>:
                <%= @discount.end_at ? @discount.end_at.strftime("%d.%m.%Y %H:%M:%S") : t('manager.layout.never')%>
              </div>

              <hr>

              <h4><%= t 'activerecord.attributes.discount.description' %></h4>

              <div class="small text-muted">
                <%= @discount.description %>
              </div>

              <hr>

              <h4><%= t 'manager.layout.products' %></h4>
              <div class="small text-muted">
                <% if @discount.products.present?  %>
                  <%= collapse_button t('manager.layout.show'),
                    "btn btn-xs btn-outline btn-primary",
                    "products-list",
                    @discount.products do |item| %>
                      <%= link_to item.title, manager_product_path(item) %>
                  <% end %>
                <% else %>
                  <p><%= t 'manager.layout.none' %></p>
                <% end %>
              </div>

              <div>
                <hr>
                <div class="btn-group">
                  <% if @discount.actual %>
                    <%= link_to t('manager.layout.deactivate'), change_appearance_manager_discount_path(@discount),
                      class: "btn btn-warning btn-sm",
                      data: { confirm: t('manager.discounts.confirm.activate')} %>
                  <% else  %>
                    <%= link_to t('manager.layout.activate'),change_appearance_manager_discount_path(@discount),
                      class: "btn btn-primary btn-sm",
                      data: { confirm: t('manager.discounts.confirm.deactivate')} %>
                  <% end  %>
                </div>
                <div class="btn-group">
                  <%= link_to t('manager.layout.products'), edit_products_manager_discount_path(@discount),
                    class: "btn btn-primary btn-sm"%>
                </div>
                <div class="btn-group">
                  <%= link_to t('manager.layout.edit'), edit_manager_discount_path(@discount),
                    class: "btn btn-primary btn-sm pull-right"%>
                </div>
                <div class="btn-group">
                  <%= link_to t('manager.layout.delete'), manager_discount_path(@discount),
                    class: "btn btn-danger btn-sm pull-right",
                    method: "delete",
                    data: { confirm: t('manager.discounts.confirm.delete')} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
