<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t "manager.layout.#{current_page_name}" %></h2>
    <ol class="breadcrumb">
      <li><%= t "manager.layout.#{current_page_name}" %></li>
      <li><b><%= t 'manager.layout.list' %></b></li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t 'manager.layout.orders_statistics' %></h5>
          <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a></li>
              <li><a href="#">Config option 2</a></li>
            </ul>
            <a class="close-link"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="ibox-content">
          <div id="morris-line-chart"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t 'manager.layout.popular_categories' %></h5>
          <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a></li>
              <li><a href="#">Config option 2</a></li>
            </ul>
            <a class="close-link"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="ibox-content">
          <div id="morris-donut-chart"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t 'manager.layout.popular_sizes' %></h5>
          <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a></li>
              <li><a href="#">Config option 2</a></li>
            </ul>
            <a class="close-link"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="ibox-content">
          <div id="morris-donut-chart-sizes"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div class="ibox float-e-margins">

        <div class="ibox-title ">
          <!-- <span class="label label-warning pull-right">Total</span> -->
          <h4><%= t 'manager.layout.orders' %></h4>
        </div>

        <%= link_to manager_orders_path(status: 'pending') do %>
          <div class="ibox-content">
            <div class="container-fluid">
              <h1><%= @orders[:count][:pending] %></h1>
              <div class="stat-percent font-bold text-warning">
                <%=number_to_percentage @orders[:percentage][:pending], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t('activerecord.attributes.order.statuses.pending').capitalize %></small>
            </div>
          </div>
        <% end %>

        <%= link_to manager_orders_path(status: 'accepted') do %>
          <div class="ibox-content">
            <div class="container-fluid">
              <h1 class="no-margins"><%= @orders[:count][:accepted] %></h1>
              <div class="stat-percent font-bold text-primary">
                <%=number_to_percentage @orders[:percentage][:accepted], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t('activerecord.attributes.order.statuses.accepted').capitalize %></small>
            </div>
          </div>
        <% end %>

        <%= link_to manager_orders_path(status: 'completed') do %>
          <div class="ibox-content">
            <div class="container-fluid">
              <h1 class="no-margins"><%= @orders[:count][:completed] %></h1>
              <div class="stat-percent font-bold text-success">
                <%=number_to_percentage @orders[:percentage][:completed], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t('activerecord.attributes.order.statuses.completed').capitalize %></small>
            </div>
          </div>
        <% end %>
        <%= link_to manager_orders_path(status: 'declined') do %>
          <div class="ibox-content">
            <div class="container-fluid">
              <h1 class="no-margins"><%= @orders[:count][:declined] %></h1>
              <div class="stat-percent font-bold text-danger">
                <%=number_to_percentage @orders[:percentage][:declined], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t('activerecord.attributes.order.statuses.declined').capitalize %></small>
            </div>
          </div>
        <% end %>

        <div class="ibox-content">
          <div class="container-fluid">
            <h1 class="no-margins"><strong><%= @orders[:count][:total]%></strong></h1>
            <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
            <small><%= t 'manager.layout.total_count' %></small>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div class="ibox float-e-margins">

        <div class="ibox-title">
          <!-- <span class="label label-success pull-right">Total</span> -->
          <h5><%= t 'manager.layout.products' %></h5>
        </div>
        <%= link_to manager_products_path(visible: 'true') do %>
          <div class="ibox-content">
            <div class="container-fluid">
              <h1 class="no-margins"><%= @products[:count][:visible] %></h1>
              <div class="stat-percent font-bold text-success">
                <%=number_to_percentage @products[:percentage][:visible], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t 'manager.layout.released' %></small>
            </div>
          </div>
        <% end %>

        <%= link_to manager_products_path(visible: 'true') do %>
          <div class="ibox-content">
            <div class="container-fluid">
              <h1 class="no-margins"><%= @products[:count][:hidden] %></h1>
              <div class="stat-percent font-bold text-warning">
                <%= number_to_percentage @products[:percentage][:hidden], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t 'manager.layout.hidden' %></small>
            </div>
          </div>
        <% end %>

        <div class="ibox-content">
          <div class="container-fluid">
            <h1 class="no-margins"><strong><%= @products[:count][:total]%></strong></h1>
            <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
            <small><%= t 'manager.layout.total_count' %></small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="label label-primary pull-right">Total</span> -->
          <h5><%= t 'manager.layout.categories' %></h5>
        </div>
        <% @categories.each  do |key, value|  %>
          <%= link_to manager_products_path(manager_category: value[:id]) do %>
            <div class="ibox-content">
              <div class="container-fluid">
                <h1 class="no-margins"> <%= value[:count] %> </h1>
                <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                <small><%= key.capitalize %></small>
              </div>
            </div>
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript", charset="utf-8">
$(function() {
  Morris.Line({
    element: 'morris-line-chart',
    data: [
      <% @visual_statistics[:orders_total_count].each do |key,value| %>
        { x:'<%= key %>', y:<%=value%>},
      <% end %>
    ],
    xkey: 'x',
    ykeys: 'y',
    xLabelFormat: function(date) {
      var monthNames = [];
      <% t("date.abbr_month_names").each do |month| %>
        monthNames.push("<%= month.capitalize if month %>");
      <% end %>
      return date.getDate()+' '+ monthNames[date.getMonth() + 1];
    },
    labels: ['<%= t('manager.layout.orders_count')  %>'],
    hideHover: 'auto',
    resize: true,
    lineColors: ['#54cdb4']
  });

  Morris.Donut({
    element: 'morris-donut-chart',
    data: [
      <% @visual_statistics[:line_items_category_count].each do |key,value| %>
        { label:'<%= key %>', value: <%= value %> },
      <% end %>
    ],
    resize: true,
    colors: [
      <% @visual_statistics[:line_items_category_count].each_with_index do |(key,value),index| %>
        '<%= @visual_statistics[:colors][index]%>',
      <% end %>
    ]

  });
  Morris.Donut({
    element: 'morris-donut-chart-sizes',
    data: [
      <% @visual_statistics[:line_items_sizes_count].each do |key,value| %>
        { label:'<%= key %>', value: <%= value %> },
      <% end %>
    ],
    resize: true,
    colors: [
      <% @visual_statistics[:line_items_sizes_count].each_with_index do |(key,value),index| %>
        '<%= @visual_statistics[:colors][index]%>',
      <% end %>
    ]

  });
});
</script>
