<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t "manager.layout.#{current_page_name}" %></h2>
    <ol class="breadcrumb">
      <li>
        <%= t "manager.layout.#{current_page_name}" %>
      </li>
      <li>
        <b><%= t 'manager.layout.list' %></b>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeIn row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render 'chart', title: t('manager.layout.orders_statistics'), id: 'morris-line-chart-orders' %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= render 'chart', title: t('manager.layout.popular_categories'), id: 'morris-donut-chart-categories' %>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= render 'chart', title: t('manager.layout.popular_sizes'), id: 'morris-donut-chart-sizes' %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="ibox float-e-margins">

      <div class="ibox-title ">
        <h4><%= t 'manager.layout.orders' %></h4>
      </div>

      <% if @orders %>
        <% Order.statuses.keys.each do |status|%>
          <div class="ibox-content">
            <div class="container-fluid">
              <%= link_to manager_orders_path(status: status) do %>
                <h1><%= @orders[:count][status.to_sym] %></h1>
                <div class="stat-percent font-bold text-primary">
                  <%= number_to_percentage @orders[:percentage][status.to_sym], precision: 0 %>
                  <i class="fa fa-bolt"></i>
                </div>
                <small><%= t("activerecord.attributes.order.statuses.#{status}").capitalize %></small>
              <% end %>
              </div>
            </div>
        <% end %>
        <div class="ibox-content">
          <div class="container-fluid">
            <h1 class="no-margins"><strong><%= @orders[:count][:total]%></strong></h1>
            <small><%= t 'manager.layout.total_count' %></small>
          </div>
        </div>
      <% else %>
        <div class="ibox-content">
          <div class="container-fluid">
            <h5><%= t 'manager.layout.no_information' %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <h4><%= t 'manager.layout.products' %></h4>
      </div>

      <% if @products %>
        <div class="ibox-content">
          <div class="container-fluid">
            <%= link_to manager_products_path(visible: 'true') do %>
              <h1 class="no-margins"><%= @products[:count][:visible] %></h1>
              <div class="stat-percent font-bold text-success">
                <%=number_to_percentage @products[:percentage][:visible], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t 'manager.layout.released' %></small>
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <div class="container-fluid">
            <%= link_to manager_products_path(hidden: 'true') do %>
              <h1 class="no-margins"><%= @products[:count][:hidden] %></h1>
              <div class="stat-percent font-bold text-warning">
                <%= number_to_percentage @products[:percentage][:hidden], precision: 0 %>
                <i class="fa fa-bolt"></i>
              </div>
              <small><%= t 'manager.layout.hidden' %></small>
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <div class="container-fluid">
            <h1 class="no-margins"><strong><%= @products[:count][:total]%></strong></h1>
            <small><%= t 'manager.layout.total_count' %></small>
          </div>
        </div>
      <% else %>
        <div class="ibox-content">
          <div class="container-fluid">
            <h5><%= t 'manager.layout.no_information' %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <h4><%= t 'manager.layout.categories' %></h4>
      </div>
      <% if @categories %>
        <% @categories.each  do |key, value|  %>
          <div class="ibox-content">
            <div class="container-fluid">
              <%= link_to manager_products_path(manager_category: value[:id]) do %>
                <h1 class="no-margins"> <%= value[:count] %> </h1>
                <small><%= key.capitalize %></small>
              <% end  %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="ibox-content">
          <div class="container-fluid">
            <h5><%= t 'manager.layout.no_information' %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
