<%= render partial: "layouts/error", locals: { object: @user } if @user.errors.any? %>
<div class="order-form">
  <div class="order-checkout">
    <%= form_for @user do |form| %>
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
      <div class="order-submit-button">
        <%= form.submit "#{t 'users.new.continue'}", class: "material-button" %>
      </div>
    <% end %>
  </div>
</div>
