<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="order-form">
  <div class="order-checkout">

    <%= label_tag :name %>
    <br>
    <%= content_tag :p, @user.name %>
    <br>
    <%= label_tag :email %>
    <br>
    <%= content_tag :p, @user.email %>
    <br>
    <%= label_tag :telephone %>
    <br>
    <%= content_tag :p, @user.telephone %>
    <br>
    <%= form_for @order do |form| %>
      <%= form.label :comment %>
      <%= form.text_area :comment, id: :order_comment %>
      <div class="order-submit-button">
          <%= form.submit "place order", class: "material-button" %>
      </div>
    <% end %>
  </div>
</div>
