<%= render partial: "layouts/error", locals: { object: @order } if @order.errors.any? %>
<div class="order-form">
  <div class="order-checkout">
    <%= label_tag t 'activerecord.attributes.user_information.name' %>
    <br><p><%= @user_information.name %><p>
    <br><%= label_tag t 'activerecord.attributes.user.email' %>
    <br><p><%= @user.email %></p>
    <br><%= label_tag t 'activerecord.attributes.user_information.telephone' %>
    <br><p><%= @user_information.telephone %></p>
    <br>
    <%= form_for @order do |form| %>
      <%= form.label :comment %>
      <%= form.text_area :comment, id: :order_comment %>
      <%= form.hidden_field :locale, value: I18n.locale %>
      <div class="order-submit-button">
        <%= form.submit t('orders.new.place_order'), class: "material-button" %>
      </div>
    <% end %>
  </div>
</div>
