<div class="ibox-content">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Client information</h1>
      <div class="chat-user">
        <div class="chat-user-name">
          <strong>User #</strong><%= @user.id  %>
        </div>
      </div>

      <div class="chat-user">
        <div class="chat-user-name">
          <strong>Email: </strong><%=@user.email%>
        </div>
      </div>

      <div class="chat-user">
        <div class="chat-user-name">
          <strong>Name: </strong>
          <% if @user.user_informations.present?%>
          <%=@user.user_informations.last.name %>
          <%= button_tag "List", class: "btn btn-xs btn-outline btn-primary", data:{toggle: "collapse", target: "#names-list"} if @user.user_informations.size > 1%>
          <%= content_tag :br %>
          <%= content_tag :ul, id: "names-list", class: "list-group collapse" do %>
            <% @user.user_informations.each do |info| %>
              <%= content_tag :li, class: "list-group-item" do %>
                  <%= info.name %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>

      <div class="chat-user">
        <div class="chat-user-name">
          <strong>Telephone: </strong>
          <% if @user.user_informations.present? %>
            <%= @user.user_informations.last.telephone %>
            <%= button_tag "List", class: "btn btn-xs btn-outline btn-primary", data:{toggle: "collapse", target: "#telephones-list"} if @user.user_informations.size > 1%>
            <%= content_tag :br %>
            <%= content_tag :ul, id: "telephones-list", class: "list-group collapse" do %>
              <% @user.user_informations.each do |info| %>
                <%= content_tag :li, class: "list-group-item" do %>
                    <%= info.telephone %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Orders</h1>
      <table class="table table-hover table-stripped toggle-arrow-tiny" >
        <th>Order</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Updated</th>
        <tbody>
          <% unless @user.orders.present? %>
            <p class="text-center"> No information </p>
          <% end %>
          <% @user.orders.each do |order| %>
            <tr>
              <td>
                <%= link_to manager_order_path order do  %>
                  Order #<%= order.id %>
                <% end %>
              </td>
              <td><%= number_to_currency order.amount %></td>
              <td><%= order.status %></td>
              <td><%= order.updated_at.strftime("%a %b %d %Y - %H:%M:%S") %></td>
            </tr>
          <% end  %>
        </tbody>
      </table>
    </div>
  </div>
</div>
