<div class="ibox-content">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center"><%= t 'manager.layout.client' %></h1>
      <div class="chat-user">
        <div class="chat-user-name">
          <strong>ID: </strong><%= @user.id  %>
        </div>
      </div>

      <div class="chat-user">
        <div class="chat-user-name">
          <strong><%= t 'activerecord.attributes.user.email' %>: </strong><%=@user.email%>
        </div>
      </div>

      <div class="chat-user">
        <div class="chat-user-name">
          <strong><%= t 'activerecord.attributes.user_information.name' %>: </strong>
          <% if @user.user_informations.present?%>
            <%= @user.user_informations.last.name %>
            <%= button_tag t('manager.layout.list'), class: "btn btn-xs btn-outline btn-primary", data:{toggle: "collapse", target: "#names-list"} if @user.user_informations.size > 1%>
            <%= content_tag :br %>
            <%= content_tag :ul, id: "names-list", class: "list-group collapse" do %>
              <% @user.user_informations.each do |info| %>
                <%= content_tag :li, class: "list-group-item" do %>
                    <%= info.name %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="chat-user">
        <div class="chat-user-name">
          <strong><%= t 'activerecord.attributes.user_information.telephone' %>: </strong>
          <% if @user.user_informations.present? %>
            <%= @user.user_informations.last.telephone %>
            <%= button_tag t('manager.layout.list'), class: "btn btn-xs btn-outline btn-primary", data:{toggle: "collapse", target: "#telephones-list"} if @user.user_informations.size > 1%>
            <%= content_tag :br %>
            <%= content_tag :ul, id: "telephones-list", class: "list-group collapse" do %>
              <% @user.user_informations.each do |info| %>
                <%= content_tag :li, class: "list-group-item" do %>
                    <%= info.telephone %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center"><%= t 'manager.layout.orders' %></h1>
      <table class="table table-hover table-stripped toggle-arrow-tiny" >
        <th>ID</th>
        <th><%= t 'activerecord.attributes.order.amount' %></th>
        <th><%= t 'activerecord.attributes.order.status' %></th>
        <th><%= t 'activerecord.attributes.order.updated_at' %></th>
        <tbody>
          <% unless @user.orders.present? %>
            <p class="text-center"> <%= t 'manager.layout.no_information' %></p>
          <% end %>
          <% @user.orders.each do |order| %>
            <tr data-link= "<%= manager_order_path(order) %>" class="selectable-row">
              <td><%= order.id %></td>
              <td><%= number_to_currency order.amount %></td>
              <td><%= t "activerecord.attributes.order.statuses.#{order.status}" %></td>
              <td><%= order.updated_at.strftime("%a %b %d %Y - %H:%M:%S") %></td>
            </tr>
          <% end  %>
        </tbody>
      </table>
    </div>
  </div>
</div>
