<tbody>
  <% @line_items.each do |line_item| %>
    <tr>
      <td>
        <%=  link_to product_path(line_item.product) do %>
          <%= image_tag first_image(line_item.product), size: 64 %>
        <% end %>
      </td>
      <td class="title"><%= line_item.product.title %></td>
      <%= content_tag :td do %>
        <% if line_item.quantity > 1 %>
          <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity - 1}" }), method: :put, remote: true, class: "minus-button" do  %>
            <i class="glyphicon glyphicon glyphicon-minus"></i>
          <% end  %>
        <% else %>
          <i class="glyphicon glyphicon glyphicon-minus"></i>
        <% end %>
        <%= content_tag :span, line_item.quantity %>
        <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity + 1}" }), method: :put, remote: true, class: "plus-button" do  %>
          <i class="glyphicon glyphicon glyphicon-plus"></i>
        <% end  %>
       <% end %>
      <td>Size:
        <% if line_item.product.category.complex %>
          <%= line_item.size.to_a.join(" ") %>
        <% elsif line_item.product.category.title.downcase == "bra" %>
          <%= line_item.size["bra"] %>
        <% else %>
          <%= line_item.size["standard"] %>
        <% end %>
      </td>
      <td> <%= number_to_currency line_item.product.price %></td>
      <td>
        <%= link_to line_item_path(line_item), method: "delete", remote: true do  %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end  %>
      </td>
    </tr>
  <% end %>
</tbody>
