<tbody>
  <% @line_items.each do |line_item| %>
    <tr>
      <td><%= image_tag first_image(line_item.product), size: 64 %></td>
      <td><%= line_item.product.title %></td>
      <td>
        <% if line_item.quantity > 1 %>
          <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity - 1}" }), method: :put, remote: true do  %>
            <i class="glyphicon glyphicon glyphicon-minus"></i>
          <% end  %>
        <% else %>
          <i class="glyphicon glyphicon glyphicon-minus"></i>
        <% end %>
        <%= content_tag :span, line_item.quantity %>
        <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity + 1}" }), method: :put, remote: true, class:"button" do  %>
          <i class="glyphicon glyphicon glyphicon-plus"></i>
        <% end  %>
       </td>
      <td>Size: <%= line_item.size.upcase %></td>
      <td> <%= number_to_currency line_item.product.price %></td>
      <td>
        <%= link_to line_item_path(line_item), method: "delete", remote: true do  %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end  %>
      </td>
    </tr>
  <% end %>
</tbody>
