<% @line_items.each do |line_item| %>
  <div class="row">
<!-- Mobie version -->
    <div class="row visible-xs">
      <div class="col-xs-4 cart-mobile-image">
        <%= link_to product_path(line_item.product) do %>
          <%= image_tag first_image(line_item.product),  class:'img-responsive'%>
        <% end %>
      </div>
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-9 cart-mobile-title">
            <strong><%= line_item.product.title %></strong>
          </div>
          <div class="col-xs-3 cart-mobile-delete">
            <%= link_to line_item_path(line_item), method: "delete", remote: true do  %>
              <i class="material-icons pull-right">close</i>
            <% end  %>
          </div>
        </div>
        <div class="row cart-mobile-quantity pull-left">
          <% if line_item.quantity > 1 %>
            <div class="col-xs-4 text-center">
              <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity - 1}" }), method: :put, remote: true, class: "minus-button" do  %>
                <i class="material-icons">remove</i>
              <% end  %>
            </div>
          <% else %>
            <div class="col-xs-4 text-center">
              <i class="material-icons">remove</i>
            </div>
          <% end %>
          <div class="col-xs-4 text-center">
            <span><strong><%= line_item.quantity %></strong></span>
          </div>
          <div class="col-xs-4 text-center">
            <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity + 1}" }), method: :put, remote: true, class: "plus-button" do  %>
              <i class="material-icons">add</i>
            <% end  %>
          </div>
        </div>
        <div class="row cart-monile-size">
            <div class="col-xs-12">
              <%= t 'carts.show.size' %>: <%= line_item.size.values.join(" & ")  if line_item.size.present? %>
            </div>
        </div>
        <div class="row cart-mobile-price">
          <div class="col-xs-12">
            <%= number_to_currency line_item.product.price %>
          </div>
        </div>
      </div>
    </div>

<!-- Other versions -->
    <table class="hidden-xs">
      <tr>
        <td class="col-sm-2 col-md-2 col-lg-2 cart-image" valign="middle">
          <%= link_to product_path(line_item.product) do %>
            <%= image_tag first_image(line_item.product), class:'img-responsive' %>
          <% end %>
        </td>
        <td class="col-sm-3 col-md-3 col-lg-3" valign="middle">
          <strong><%= line_item.product.title %></strong>
        </td>
        <td class="col-sm-2 col-md-2 col-lg-2 cart-quantity" valign="middle">
          <div class="row">
            <% if line_item.quantity > 1 %>
              <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity - 1}" }), method: :put, remote: true, class: "minus-button" do  %>
                  <i class="material-icons">remove</i>
                <% end  %>
              </div>
            <% else %>
              <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <i class="material-icons">remove</i>
              </div>
            <% end %>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
              <span><strong><%= line_item.quantity %></strong></span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
              <%= link_to line_item_path(line_item, line_item:{ quantity: "#{line_item.quantity + 1}" }), method: :put, remote: true, class: "plus-button" do  %>
                <i class="material-icons">add</i>
              <% end  %>
            </div>
          </div>
        </td>
        <td class="col-sm-2 col-md-2 col-lg-2 cart-size" valign="middle">
          <%= t 'carts.show.size' %>: <%= line_item.size.values.join(" & ")  if line_item.size.present? %>
        </td>
        <td class="col-sm-2 col-md-2 col-lg-2 cart-price">
          <%= number_to_currency line_item.product.price %>
        </td>
        <td class="col-sm-1 col-md-1 col-lg-1 cart-delete" valign="middle">
          <%= link_to line_item_path(line_item), method: "delete", remote: true do  %>
            <i class="material-icons">close</i>
          <% end  %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
