<div class="container cart-container">
  <% unless @line_items.count == 0 %>
    <div class="full-cart">
      <div class="cart-headline text-center">
        <h2><%= t '.your_cart'  %></h2>
          <span id="line-items-count">
            <%= render 'line_items_count' %>
          </span>
      </div>
      <div class="container cart-table" id="cart-table">
        <%= render 'cart_table' %>
      </div>
      <div class="container checkout-box hidden-xs">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-xl-9 cart-total-amount">
            <%= render 'cart_total_amount' %>
          </div>
          <div class="col-sm-3 col-md-3 col-xl-3">
            <%= link_to "#{t '.checkout'}", new_order_path, class:"material-button" %>
          </div>
        </div>
      </div>
      <div class="container checkout-box visible-xs">
        <div class="row">
          <div class="col-xs-12 cart-total-amount">
            <%= render 'cart_total_amount' %>
          </div>
        </div>
        <br>
        <br>
        <div class="row text-center">
          <div class="col-xs-12">
            <%= link_to "#{t '.checkout'}", new_order_path, class:"material-button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="empty-cart">
    <% if @line_items.count == 0 %>
      <%= render 'empty_cart' %>
    <% end %>
  </div>
</div>
