<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <%= link_to store_url(locale: I18n.locale) do %>
                      <%= image_tag (image_path 'mailer/header.png'), class:"img-responsive"  %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <h3><%= t 'order_mailer.client_information.introduction' %></h3>
                   </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <%= t 'order_mailer.client_information.main_part' %><br>
                    <%= t 'order_mailer.client_information.details' %>
                   </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <table class="invoice-items" cellpadding="0" cellspacing="10px">
                      <tbody>
                        <% @order.line_items.each do |line_item| %>
                          <tr>
                            <td>
                              <%= link_to product_url(line_item.product, locale: I18n.locale) do %>
                              <%= image_tag( (line_item.product.images == [] ?  image_path("default/default_product_image.png") : image_path(line_item.product.images.first)),size: 64) %>
                              <% end %>
                            </td>
                            <td>
                              <%= line_item.quantity %>x <%= line_item.product.title %> <br>
                              <%= t 'order_mailer.client_information.size' %>: <%= line_item.size.values.join(" / ") %> <br>
                              <%= number_to_currency(line_item.quantity * line_item.product.price) %>
                            </td>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
                  <br>
                  <p> <strong><%= t 'order_mailer.client_information.total' %> <%= number_to_currency @order.amount %></strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </table>
        <div class="footer">
          <table width="100%">
            <tr>
              <td class="aligncenter content-block"><%= t 'order_mailer.client_information.visit' %> <%= link_to t('application_name'), store_url(locale: I18n.locale) %> <%= t 'order_mailer.client_information.site' %></td>
            </tr>
          </table>
        </div>
      </div>
    </td>
    <td></td>
  </tr>
</table>
