<%= link_to edit_manager_category_path(category) do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="ibox">
      <div class="ibox-content product-box">
        <div class="product-imitation">
          <%= image_tag category_image(category.image), class:"img-responsive"  %>
        </div>
        <div class="product-desc">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="text-center">
                <span class="product-name">
                  <%= category.title %>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= link_to t('manager.layout.delete'), manager_category_path(category), class: "btn btn-xs btn-outline btn-danger", method: :delete,data: { confirm: t('manager.categories.confirm.delete')} %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <% if category.visible %>
                <%= link_to t('manager.layout.hide'), change_appearance_manager_category_path(category), class: "btn btn-xs btn-outline btn-warning pull-right", data: { confirm: t('manager.categories.confirm.make_visible')}  %>
              <% else %>
                <%= link_to t('manager.layout.release'), change_appearance_manager_category_path(category), class: "btn btn-xs btn-outline btn-primary pull-right",  data: { confirm: t('manager.categories.confirm.make_visible')} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end  %>
