<%= link_to edit_manager_category_path(category) do %>
  <div class="col-md-3">
    <div class="ibox">
      <div class="ibox-content category-box">
        <div class="category-imitation">
          <%= image_tag category_image(category.image,thumb = true)  %>
        </div>
        <div class="category-desc">

          <span class="category-name">
            <%= category.title %>
          </span>

          <div class="m-t text-righ">
            <%= link_to manager_category_path(category), class: "btn btn-xs btn-outline btn-danger", method: :delete do %>
              <i class="fa fa-minus-square-o"></i> Delete
            <% end %>

            <% if category.visible %>
              <%= link_to "Hide", change_appearance_manager_category_path(category), class: "btn btn-xs btn-outline btn-warning pull-right", data: { confirm: "Are you sure that you want to make category '#{ category.title }' invisible ?" }  %>
            <% else %>
              <%= link_to "Release", change_appearance_manager_category_path(category), class: "btn btn-xs btn-outline btn-primary pull-right",  data: { confirm: "Are you sure that you want to make category '#{ category.title }' visible ?" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end  %>
