<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab-1"> <%= t 'manager.layout.category' %></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="#tab-2"> <%= t 'manager.layout.info' %></a>
          </li>
        </ul>
        <div class="tab-content">

          <div id="tab-1" class="tab-pane active">
            <%= form_for [:manager, @category] do |form| %>
              <% if @category.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
                    <ul>
                      <% @category.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= image_tag category_image(@category.image), class:'img-responsive' %>
                <div class="panel-body">
                  <fieldset class="form-horizontal">
                    <% if @category.translations.any? %>
                      <%= form.fields_for :translations do |ff| %>
                        <div class="field">
                          <div class="form-group">
                            <%= ff.label t("activerecord.attributes.translation.#{ff.object.attribute_name}", language: ff.object.locale),
                              class: "hidden-xs col-sm-2 col-md-2 col-lg-2 control-label" %>
                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                              <%= ff.text_field :value,
                                placeholder: t('activerecord.attributes.category.title'),
                                class: "form-control" %>
                              <%= ff.hidden_field :id %>
                              <%= ff.hidden_field :attribute_name %>
                              <%= ff.hidden_field :locale %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="field">
                        <div class="form-group">
                          <%= form.label :title, class:"hidden-xs col-sm-2 col-md-2 col-lg-2 control-label" %>
                          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <%= form.text_field :title,
                              id: :category_slug,
                              placeholder:t('activerecord.attributes.category.title'),
                              class:"form-control" %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <div class="field">
                      <div class="form-group">
                        <%= form.label :slug, class:"hidden-xs  col-sm-2 col-md-2 col-lg-2  control-label" %>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                          <%= form.text_field :slug,
                            id: :category_slug,
                            placeholder:t('activerecord.attributes.category.slug'),
                            class:"form-control" %>
                        </div>
                      </div>
                    </div>

                    <div class="field">
                      <div class="form-group">
                        <%= form.label :image, class:"hidden-xs  col-sm-2 col-md-2 col-lg-2 control-label" %>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                          <%= form.file_field :image, class:"form-control" %>
                        </div>
                      </div>
                    </div>

                  </fieldset>
                </div>

                <br>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <%= form.submit class: "btn btn-primary pull-right" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @category.persisted? %>
              <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                  <fieldset class="form-horizontal">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table">
                          <th><%= t 'manager.layout.dependencies' %></th>
                          <th><%= t 'manager.layout.count' %></th>
                        <tr>
                          <td>
                            <span><%=t('manager.layout.products')%></span>
                            <% if @category.products.present?  %>
                              <br>
                              <br>
                              <%= link_to t('manager.layout.all'), manager_products_path(manager_category: @category),
                                class: "btn btn-xs btn-outline btn-warning" %>
                              <%= collapse_button t('manager.layout.list'),
                                "btn btn-xs btn-outline btn-primary",
                                "products-list",
                                @category.products do |item| %>
                                  <%= link_to item.title, manager_product_path(item)%>
                              <% end %>
                            <% end %>
                          </td>
                          <td><%= @category.products.present? ? @category.products.count : 0 %></td>
                        </tr>
                        <tr>
                          <td>
                            <span><%=t('manager.layout.orders') %></span>
                            <br>
                            <br>
                            <% if @category_orders.present?  %>
                              <%= collapse_button t('manager.layout.list'),
                                "btn btn-xs btn-outline btn-primary",
                                "orders-list",
                                @category_orders do |item| %>
                                  <%= link_to "#{t 'manager.layout.order'}##{item.id}: #{t "activerecord.attributes.order.statuses.#{item.status}"}", manager_order_path(item) %>
                                <% end %>
                            <% end %>
                          </td>
                          <td><%= @category_orders.present? ? @category_orders.count : 0 %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
