<div class="oriented">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <%= link_to product_path(product) do %>
      <div class="product-basic">
        <div class="product-image">
          <% if product.discount and product.discount.actual  %>
            <%= content_tag :span, number_to_percentage(-product.discount.value, precision: 0) , class: "discount-value" %>
          <% end %>
          <%= image_tag first_image(product), class: "img-responsive" %>
        </div>

        <div class="product-title text-center">
          <%= product.title %>
        </div>
        <% if product.discount and product.discount.actual %>
          <div class="product-price-discount">
            <span class="old"><%= number_to_currency product.price %></span>
            <span class="new"><%= number_to_currency product.discount_price %></span>
          </div>
        <% else %>
          <div class="product-price">
            <%= number_to_currency product.price%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
