<div class=category-item>
  <%= image_tag @current_category.image, class: "category-image" %>
  <h2> <%= @current_category.title.pluralize(2).capitalize %> </h2>
  <span><%= "(#{pluralize @products.total_count, 'item'})" %></span>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="products">
      <% @products.each do |product| %>
        <%= render partial: "product", locals: { product: product } %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <%= paginate @products %>
</div>
