<%= render partial: "categories" %>

<div class="container">
  <%= form_for :line_item, url: line_items_path, remote: true  do |f| %>
  <div class="oriented">
    <div class="row product-detailed">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="product-detailed-images">
          <%= render 'images_carousel'%>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product-detailed-details oriented">
        <h1><%= @product.title %></h1>
        <% if @product.discount and @product.discount.actual %>
        <div class="product-details-price-discount">
          <span class="old"><%= number_to_currency @product.price %></span>
          <span class="new"><%= number_to_currency @product.discount_price %></span>
        </div>
        <% else %>
          <div class="product-details-price">
            <%= number_to_currency @product.price %>
          </div>
        <% end %>

        <%= f.fields_for :size do |ff| %>
          <% @product.sizes.each do |key,value| %>
            <% if @product.sizes[key].present? %>
              <%= ff.label "#{key} size" %>
              <%= ff.select key, ( key.downcase == "bra" ? @product.sizes[key].sort : Product.sizes[:standard] & @product.sizes[key]), {}, { class: "material-select" } %>
            <% end %>
          <% end %>
        <% end %>
        <%= f.hidden_field :product_id, value: @product.id   %>

        <div class="product-detailed-description">
          <h2>Description</h2>
          <p><%= @product.description %></p>
        </div>
      </div>
    </div>

    <div class="add-to-cart-btn">
      <%= f.submit "Add to cart", class: "material-button" %>
    </div>

  </div>



  <% end %>
</div>
