<div class="product-detailed">

  <div class="product-detailed-image">
    <%= image_tag @product.images.first, size: 400 %>
  </div>

  <div class="product-detailed-details">
    <h1><%= @product.title %></h1>
    <span> <%=number_to_currency @product.price %></span>
    <p> Size: </p>
    <%= select_tag "quantity", options_for_select(@product.sizes_collection) %>
    <p> Quantity: </p>
      <%= select_tag "quantity", options_for_select((1..4).to_a.map{|s| [s,s]}) %>
    <div class="product-detailed-description">
      <h2>Description</h2>

      <p> <%= @product.description %> </p>
    </div>
    <div>
      <%= link_to "Add to cart", "", class:"material-button"  %>
    </div>
  </div>
</div>
