<%= render partial: "categories" %>

<div class="container">
  <div class="product-detailed">

    <div class="product-detailed-image">
      <%= image_tag first_image(@product), size: 400 %>
    </div>

    <div class="product-detailed-details">
      <h1><%= @product.title %></h1>
      <span><%= number_to_currency @product.price %></span>
      <%= form_for :line_item, url: line_items_path, remote: true  do |f| %>
        <% if @product.sizes.present? %>
          <%= f.fields_for :size do |ff| %>
            <% if @product.category.complex %>
              <h2>Bra size:</h2>
              <%= ff.select :bra, @product.sizes["bra"], {}, { class: "material-select" } %>
              <h2>Brief size:</h2>
              <%= ff.select :brief, @product.sizes["standard"], {}, { class: "material-select" } %>
            <% elsif @product.category.title.downcase == "bra" %>
              <h2>Bra size:</h2>
              <%= ff.select :bra, @product.sizes["bra"], {}, { class: "material-select" } %>
            <% else %>
              <h2><%= @product.category.title %> size:</h2>
              <%= ff.select :standard, @product.sizes["standard"], {}, { class: "material-select" } %>
            <% end %>
          <% end %>
        <% end %>
        <%= f.hidden_field :product_id, value: @product.id   %>

        <div class="product-detailed-description">
          <h2>Description</h2>
          <p><%= @product.description %></p>
        </div>

        <%= f.submit "Add to cart", class: "material-button"%>
      <% end  %>
    </div>
  </div>
</div>
