<%= render partial: "categories" %>
<% @categories.each do |category|  %>
  <div class="category-item">
    <%= link_to products_path(category: category.id) do %>
      <%= image_tag category.image, class: "category-image" %>
    <% end %>  
    <h2><%= category.title %></h2>

    <div class="category-button">
      <%= link_to "Shop now", products_path(category: category.id), class: "material-button" %>
    </div>
  </div>
<% end %>
