<%= render partial: "categories" %>
<% @categories.each do |category|  %>
  <div class="category-item">
    <%= link_to category_products_path(category: category.slug.parameterize.underscore), class: "content" do %>
      <%= image_tag category_image(category.image) %>
    <% end %>
    <h2><%= category.title %></h2>

    <div class="category-button">
      <%= link_to category_products_path(category: category.slug.parameterize.underscore), class: "material-button" do %>
        <%= t ".shop_now" %>
      <% end %>
    </div>
  </div>
<% end %>
