<header class="navbar">
  <div class="app-toolbar">
    <div class="store-logo">
      <%= link_to t("application_name"), store_path %>
    </div>
    <div class="cart-logo">
      <%= link_to store_path, class:"btn btn-default" do %>
        <i class="glyphicon glyphicon-shopping-cart"></i>
      <% end  %>
    </div>
  </div>

  <div class="items-toolbar">
    <div class="toolbar-item"><%= link_to "Men's Outerwear", products_path, class: "btn btn-default" %></div>
    <div class="toolbar-item"><%= link_to "Ladies Outerwear", products_path, class: "btn btn-default" %></div>
    <div class="toolbar-item"><%= link_to "Men's T-Shirts", products_path, class: "btn btn-default" %></div>
    <div class="toolbar-item"><%= link_to "Ladies T-Shirts", products_path, class: "btn btn-default" %></div>
  </div>
</header>
