<%= render partial: "layouts/error", locals: { object: @user_information } if @user_information.errors.any? %>
<div class="order-form">
  <div class="order-checkout">
    <%= label_tag t 'activerecord.attributes.user.email' %>
    <br>
    <p><%= @user.email %></p>
    <br>
    <%= form_for @user_information do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
      <%= form.label :telephone %>
      <%= form.telephone_field :telephone, class:"phone_ukraine", required: true %>
      <div class="order-submit-button">
        <%= form.submit "#{t 'user_informations.new.continue'}", class: "material-button" %>
      </div>
    <% end %>
  </div>
</div>
